[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-swagger = "*"

[requires]
python_version = "3.6"
